<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sihlpu.smartpolice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.dummy"></activity>
        <activity android:name=".Activities.Beats.DutyAllocation" />
        <activity android:name=".Activities.Beats.Home" />
        <activity android:name=".Activities.Citizens.WomenSafety" />
        <activity android:name=".Activities.Citizens.StateServices" />
        <activity android:name=".Activities.Citizens.Status" />
        <activity android:name=".Activities.Citizens.Verifications" />
        <activity android:name=".Activities.Citizens.Noc" />
        <activity android:name=".Activities.Citizens.kysActivity" />
        <activity android:name=".Activities.Citizens.KypActivity" />
        <activity android:name=".Activities.Citizens.StolenRecovered" />
        <activity android:name=".Activities.Citizens.FirActivity" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OtpVerification" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.Citizens.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>